<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport content=width=device-width, initial-scale=1.8">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Heroic Features - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">

            var currentDate = new Date();

            var formattedDate = currentDate.toLocaleDateString();

            var dateElement = document.getElementById("date");
            dateElement.textContent = "조회 날짜: " + formattedDate;
        </script>

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class=" px-lg-5" style="height: 50px;">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
                        <li class="nav-item" style="margin-left: 350%;"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item" style="margin-left: 45px;"><a class="nav-link" href="/news">News</a></li>
                        <li class="nav-item" style="margin-left: 45px;"><a class="nav-link" href="/notice/noticeList">Notice</a></li>
                        <li class="nav-item" style="margin-left: 45px"><a class="nav-link" href="/user/login">Login/Join</a></li>
<!--                        <li class="nav-item" style="margin-left: 45px;"><a id="loginSuccess" class="nav-link"th:href="${session.SS_USER_ID} ? '/notice/noticeList' : '/user/login'">Notice</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5" style="background: #06283D;">
            <link href="/css/weatherstyle.css" rel="stylesheet" />
            <div class="container" style=" width:800px; border-radius: 18px;background: #fff; padding: 28px 32px;  overflow: hidden; gap:10px;">
                <div class="search-box">
                    <i class="fa-solid fa-location-dot"></i>
                    <input type="text" placeholder="Enter your location">
                    <button class="fa-solid fa-magnifying-glass"></button>
                </div>


                <div class="not-found">
                    <img src="img/404.png" style="width: 250px">
                    <p>Oops! Invalid location :/</p>
                </div>

                <!--날씨 이미지 설명-->
                <div class="weather-box">
                    <img src="" style="width: 250px">
                    <p class="temperature"></p>
                    <p class="description"></p>
                </div>

                <div class="weather-details">
                    <div class="humidity">
                        <i class="fa-solid fa-water"></i>
                        <div class="text">
                            <span></span>
                            <p>Humdity</p>
                        </div>
                    </div>
                    <div class="wind">
                        <i class="fa-solid fa-wind"></i>
                        <div class="text">
                            <span></span>
                            <p>Wind Speed</p>
                        </div>
                    </div>

                </div>
            </div>
            <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
            <script src="/js/main.js"></script>

        </header>
        <!-- Page Content-->
        <section class="pt-4" th:each="covidDTO : ${covidDTOList}">
            <div class="container px-lg-5" style="margin-bottom: 70px;">
                <h2 class="fs-4 fw-bold" style="text-align: center">조회 기준 일시</h2>
                <h4 style="text-align: center" th:text="${covidDTO.getMmddhh()}"></h4>
            </div>

            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><img src="/img/cnt_confirmations.png" style="width: 80px; height: 80px" alt=""></div>
                                <h2 class="fs-4 fw-bold">일일 확진</h2>
                                <p class="mb-0" th:text="${covidDTO.getCnt_confirmations()}"></p>
                                <h2 class="fs-4 fw-bold">인구 10만명당 확진</h2>
                                <p class="mb-0" th:text="${covidDTO.getRate_confirmations()}"></p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-6 col-xxl-4 mb-5">-->
<!--                        <div class="card bg-light border-0 h-100">-->
<!--                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">-->
<!--                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">-->
<!--                                    <img src="/img/cnt_confirmations.png" style="width: 60px; height: 60px;" alt="">-->
<!--                                    <img src="/img/100k.png" style="width: 30px; height: 30px;" alt=""></div>-->
<!--                                <h2 class="fs-4 fw-bold">인구 10만명당 확진</h2>-->
<!--                                <p class="mb-0" th:text="${covidDTO.getRate_confirmations()}"></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <img src="/img/cnt_deaths.png" style="height: 80px; width: 80px;" alt=""></div>
                                <h2 class="fs-4 fw-bold">일일 사망</h2>
                                <p class="mb-0" th:text="${covidDTO.getCnt_deaths()}"></p>
                                <h2 class="fs-4 fw-bold">인구 10만명당 사망</h2>
                                <p class="mb-0" th:text="${covidDTO.getRate_deaths()}"></p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-6 col-xxl-4 mb-5">-->
<!--                        <div class="card bg-light border-0 h-100">-->
<!--                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">-->
<!--                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">-->
<!--                                    <img src="/img/cnt_deaths.png" style="width: 60px; height: 60px" alt=""></div>-->
<!--                                    <img src="/img/100k.png" alt="">-->
<!--                                    <h2 class="fs-4 fw-bold">인구 10만명당 사망</h2>-->
<!--                                <p class="mb-0" th:text="${covidDTO.getRate_deaths()}"></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <img src="/img/cnt_hospitalizations.png" style="height: 80px; width: 80px;" alt="">
                                </div>
                                <h2 class="fs-4 fw-bold">일일 신규입원</h2>
                                <p class="mb-0" th:text="${covidDTO.getCnt_hospitalizations()}"></p>
                                <h2 class="fs-4 fw-bold">인구 10만명당 신규입원</h2>
                                <p class="mb-0" th:text="${covidDTO.getRate_hospitalizations()}"></p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-6 col-xxl-4 mb-5">-->
<!--                        <div class="card bg-light border-0 h-100">-->
<!--                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">-->
<!--                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">-->
<!--                                    <img src="/img/cnt_hospitalizations.png" style="width: 60px; height: 60px" alt="">-->
<!--                                    <img src="/img/100k.png" alt="">-->
<!--                                </div>-->
<!--                                <h2 class="fs-4 fw-bold">인구 10만명당 신규입원</h2>-->
<!--                                 <p class="mb-0" th:text="${covidDTO.getRate_hospitalizations()}"></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <img src="/img/cnt_severe_symptoms.png" style="height: 80px; width: 80px;" alt="">
                                </div>
                                <h2 class="fs-4 fw-bold">일일 재원 위중증</h2>
                                <p class="mb-0" th:text="${covidDTO.getCnt_severe_symptoms()}"></p>
                                <h2 class="fs-4 fw-bold">인구 10만명당 재원 위중증</h2>
                                <p class="mb-0" th:text="${covidDTO.getCnt_severe_symptoms()}"></p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-6 col-xxl-4 mb-5">-->
<!--                        <div class="card bg-light border-0 h-100">-->
<!--                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">-->
<!--                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">-->
<!--                                    <img src="/img/cnt_severe_symptoms.png" alt="">-->
<!--                                </div>-->
<!--                                <h2 class="fs-4 fw-bold"인구 10만명당 재원 위중증</h2>-->
<!--                                <p class="mb-0" th:text="${covidDTO.getCnt_severe_symptoms()}"></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
